{% extends 'base.html' %}
{% load static %}
{% block title %}Letter{% endblock %}
{% block body %}
    <div class="hero-area hero-height2 d-flex align-items-center" data-background="{% static 'img/hero/h2_hero.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Add Word Data</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center mb-5 mt-5">
                <canvas class="sketchpad" id="sketchpad"></canvas>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-1">
                <button class="btn btn-primary" onclick="undo()">undo</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" onclick="redo()">redo</button>
            </div>
            <div class="col-2">
                <input class="form-control" id="color-picker" type="color">
            </div>
            <div class="col-2">
                <input id="size-picker" type="range" min="1" max="50">
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5 mb-5">
            <form id="predict-form" onsubmit="return take_screen()" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="file" type="hidden" name="image">
                <input id="label" type="text" name="label">
                <button type="submit" class="btn btn-primary">Add Word</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
        var sketchpad;
        $(document).ready(function() {
            sketchpad = new Sketchpad({
                element: '#sketchpad',
                width: 800,
                height: 400,
                penSize: 25

            });
            $('#color-picker').change(color);
            $('#color-picker').val('#000');
            $('#size-picker').change(size);
            $('#size-picker').val(1);
        });
        function undo() {
            sketchpad.undo();
        }
        function redo() {
            sketchpad.redo();
        }
        function color(event) {
            sketchpad.color = $(event.target).val();
        }
        function size(event) {
            sketchpad.penSize = $(event.target).val();
        }
        function take_screen() {
            var canvas = document.getElementById('sketchpad');
            var img = canvas.toDataURL("image/png");
            $('#file').val(img);
            return true;

        }
    </script>
{% endblock %}
