{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sketchpad/styles/sketchpad.css' %}">
    {% block resource %} {% endblock %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src='{% static 'sketchpad/scripts/sketchpad.js' %}'></script>
</head>
<body>



<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'img/logo/loder.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area header_area header-transparent">
        <div class="main-header">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-1 col-md-1">
                            <div class="logo">
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'index' %}">Predictor</a></li>
                                        <li><a href="{% url 'add-letter' %}">Add Letter</a></li>
                                        <li><a href="{% url 'add-word' %}">Add Word</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    {% block body %} {% endblock %}
</main>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
{% block script %}
    <script>
        var sketchpad;
        $(document).ready(function() {
            sketchpad = new Sketchpad({
                element: '#sketchpad',
                width: 400,
                height: 400,
                penSize: 25

            });
            $('#color-picker').change(color);
            $('#color-picker').val('#000');
            $('#size-picker').change(size);
            $('#size-picker').val(1);
        });
        function undo() {
            sketchpad.undo();
        }
        function redo() {
            sketchpad.redo();
        }
        function color(event) {
            sketchpad.color = $(event.target).val();
        }
        function size(event) {
            sketchpad.penSize = $(event.target).val();
        }
        function take_screen() {
            var canvas = document.getElementById('sketchpad');
            var img = canvas.toDataURL("image/png");
            $('#file').val(img);
            return true;

        }
    </script>
{% endblock %}
<script type="text/javascript" src='{% static 'js/vendor/modernizr-3.5.0.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/vendor/jquery-1.12.4.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/popper.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/bootstrap.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/jquery.slicknav.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/owl.carousel.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/slick.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/wow.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/animated.headline.js' %}'></script>
<script type="text/javascript" src='{% static 'js/jquery.nice-select.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/jquery.sticky.js' %}'></script>
<script type="text/javascript" src='{% static 'js/jquery.magnific-popup.js' %}'></script>
<script type="text/javascript" src='{% static 'js/contact.js' %}'></script>
<script type="text/javascript" src='{% static 'js/jquery.form.js' %}'></script>
<script type="text/javascript" src='{% static 'js/jquery.validate.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/mail-script.js' %}'></script>
<script type="text/javascript" src='{% static 'js/jquery.ajaxchimp.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/plugins.js' %}'></script>
<script type="text/javascript" src='{% static 'js/main.js' %}'></script>
</body>
</html>